* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: beige;
    display: flex;
}

aside {
    height: 100vh;
    width: calc(100vw - 75%);
    background-image: url(../img/wizard.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2rem;
}
div#app {
    width: calc(100vw - 50%);
    
}

header,
main,
footer {
    margin: 1.5rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: .75rem;
    
}

ul li span {
    border-radius: 1rem;
    color: green;
    border: 1px solid green;
    padding: .75rem;
}

li>i {
    color: darkorange;
}

ul li span.done{
    text-decoration: line-through;
    border-radius: 1rem;
    color: red;
    border: 1px solid red;
    padding: .75rem;
}

footer {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

input {
    margin: 0 1rem;
}

button {
    background-color: coral;
    padding: .5rem 1rem;
    border: none;
    border-radius: 25px;
    margin-top: 1.5rem;

}