<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div id="app">
        <header>
            <h1>Esperienze da fare almeno una volta nella vita</h1>
        </header>
        <main>
            <ul>
                <li v-for="(item, index) in toDoList" :key="index" :class="( item===true ) ? 'done' : ''" @click="switchDone(index)">
                    {{ item.text }}
                </li>
            </ul>
        </main>
        <footer>
            <label for="new-task">Aggiungi attività, ma non essere banale</label>
            <input type="text" id="new-todo" v-model="newTaskText" @keyup.enter="addTask(newTaskText)">
        </footer>
    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>